@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-color: #f4f4f5;
}


.dark .leaflet-tile {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
